*{
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; Hide vertical scrollbar */
    /* overflow-x: hidden; Hide horizontal scrollbar */
}
*::-webkit-scrollbar {
    display: none;
}
.secA {
    background-color: #161616;
    /* position: relative; */
    height: 100vh;
    width: 100vw;
}
.navbar {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.items {
    float: right;
    position: absolute;
    right: 200px;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
    color: #fff;
}
.logo1 {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    position: relative;
    left: 0%;
}
.franchising {
    position: absolute;
    right: 0;
    /* margin-top: -17px; */
    background-color: #ff1616;
    /* height: 60px; */
    padding: 0.9%;
}
.img1 {
    height: 375.578px;
    width: 399.188px;
    position: absolute;
    right: 150px;
    top: 35vh;
    z-index: 1;
}
.quote {
    position: relative;
    left: 200px;
    top: 300px;
    width: 450px;
    line-height: 400.2%;
}
.quote h1 {
    color: beige;
    font-size: 3rem;
}
.order {
    padding: 2% 4%;
    background-color: transparent;
    border: dotted #fff;
    color: aliceblue;
    margin-top: 10%;
    /* border-radius: 55%; */
    font-size: 155%;
}
.menu {
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2;
    display: grid;
    place-items: center;
    text-align: center;
}

.slider {
    max-width: 1150px;
    display: flex;
    width: 100vw;
    justify-content: center;
}
.slider .card {
    background:#fff;
    flex: 1;
    margin: 0 10px;
    /* max-width: 60%; */
}
.slider .card .img {
    height: 200px;
    /* width: 100%; */
}
.slider .card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 
.slider .card .content {
    padding: 10px 20px;
    /* max-width: 500px; */
}
.card .content .title {
    font-size: 25px;
    font-weight: 600;
}
.sub-title {
    font-size: 25px;
    font-weight: 600;
    color: #94908f;
    line-height: 20px;
}
.card .content p {
    text-align: justify;
    margin: 10px 0;
    
}
.card .btn button {
    background: #fa7474;
    color: #fff;
    margin-bottom: 1%;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.card .btn button:hover {
    transform: scale(1.1);
    background: #ff0404;
}