*{
    margin: 0;
    padding: 0;
}
.secA {
    background-color: #161616;
    /* position: relative; */
    height: 100vh;
    width: 100vw;
}
.navbar {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: center; */
    /* align-items: center; */
    align-items: center;
    position: fixed;
    z-index: 100;
}
.items {
    float: right;
    position: absolute;
    right: 200px;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
}
.logo1 {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    position: relative;
    left: 0%;
}
.franchising {
    position: absolute;
    right: 0;
    /* margin-top: -17px; */
    background-color: #ff1616;
    /* height: 60px; */
    padding: 0.9%;
}
.img1 {
    height: 375.578px;
    width: 399.188px;
    position: absolute;
    right: 150px;
    top: 35vh;
    z-index: 1;
}
.quote {
    position: relative;
    left: 200px;
    top: 300px;
    width: 450px;
    line-height: 400.2%;
}
.quote h1 {
    color: beige;
    font-size: 3rem;
}
.order {
    /* background-color: #ff1616;
    padding: 4%;
    border-radius: 30%;
    font-size: 150%;
    color: aliceblue; */
    padding: 4%;
    background-color: transparent;
    border: dotted #fff;
    color: aliceblue;
    margin-top: 5%;
    border-radius: 55%;
    font-size: 155%;
}
.menu {
    height: 100vh;
}