*{
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    display: none;
}
.secA {
    background-color: #161616;
    /* position: relative; */
    height: 100vh;
    width: 100vw;
}
.navbar {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.items {
    float: right;
    position: absolute;
    right: 200px;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
    color: #fff;
}
.logo1 {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    position: relative;
    left: 0%;
}
.franchising {
    position: absolute;
    right: 0;
    /* margin-top: -17px; */
    background-color: #ff1616;
    /* height: 60px; */
    padding: 0.9%;
}
.img1 {
    height: 375.578px;
    width: 399.188px;
    position: absolute;
    right: 150px;
    top: 35vh;
    z-index: 1;
}
.quote {
    position: relative;
    left: 200px;
    top: 300px;
    width: 450px;
    line-height: 400.2%;
}
.quote h1 {
    color: beige;
    font-size: 3rem;
}
.order {
    padding: 2% 4%;
    background-color: transparent;
    border: dotted #fff;
    color: aliceblue;
    margin-top: 10%;
    /* border-radius: 55%; */
    font-size: 155%;
}
.order:hover {
    background-color: #fff;
    color: #161616;
    transition: 0.2s;
}
.menu {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;              
    display: grid;
    place-items: center;
    text-align: center;
}
.menu-bg {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 3.8rem;
    background-image: url(asserts/unknown.png);
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}
.menu h1 {
    font-size: 4rem;
    position: relative;
    left: -15.5%;
    top: 25%;
    z-index: 100;
    text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
}
.slider {
    max-width: 1150px;
    display: flex;
    width: 100vw;
    justify-content: center;
    z-index: 100;
    
}
.slider .card {
    background:#fff;
    flex: 1;
    margin: 0 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    /* max-width: 60%; */
}
.slider .card .img {
    height: 200px;
    /* width: 100%; */
}
.slider .card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 
.slider .card .content {
    padding: 10px 20px;
    /* max-width: 500px; */
}
.card .content .title {
    font-size: 25px;
    font-weight: 600;
}
.sub-title {
    font-size: 25px;
    font-weight: 600;
    color: #94908f;
    line-height: 30px;
}
.card .content p {
    text-align: justify;
    margin: 10px 0;
    
}
.card .btn button {
    background: #fa7474;
    color: #fff;
    margin-bottom: 1%;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.card .btn button:hover {
    transform: scale(1.1);
    background: #ff0404;
}
.explore-btn {
    color: #94908f;
    border: 2px solid #ff0404;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    /* font-family: "Lucida Console", Monaco, monospace; */
    font-size: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ff0404;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    position: relative;
    left: 40%;
    /* bottom: 25%; */
} 
.explore-btn:hover {
    box-shadow: inset 400px 0 0 0 #ff0404;
    color: #fff;
}
.table {
    height: 70vh;
    width: 100vw;
    background-color: #ece7e7;
    display: flex;
    justify-items: center;
    align-items: center;
    /* padding-left: 10%; */
    /* margin-right: 50%; */
}
.resturant-img {
    display: flex;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
    margin-top: -10%;
}
.table-img {
    height: 25vh;
    width: 40vh;
    margin-right: 2%;
}
.pic7 {
    height: 25vh;
    width: 50vh;
    align-self: end;
    position: relative;
    top: 27vh;
    right: 67vh;
}
.facilities {
    margin-left: -10%;
    width: 70vh;
}
.facilities h1 {
    font-size: 3.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.facilities p {
    margin-top: 5%;
    font-size: 1.7rem;
    line-height: 107%;
    color: #5c5252;
}
.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    margin-top: 5%;
    cursor: pointer; }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
  .btn--orange {
    background-color: rgb(248, 36, 36);
    color: #fff; }
    .btn--white::after {
      background-color: #121212; }
  
 
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }
    @keyframes moveInBottom {
        0% {
          opacity: 0;
          transform: translateY(3rem); }
        100% {
          opacity: 1;
          transform: translate(0); } }
